figure.highlight {
    margin: 0;
}

pre {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    white-space: pre;
    word-wrap: normal;
}

.footnotes {
    border-top: 1px solid #F0F0F0;
    padding-top: 10px;
    font-size: 0.8em;
}

.form-input {
    padding: 0.5em 0.6em;
    box-sizing: border-box;
    border: 1px solid #CCC;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
    width: 50%;
}

.button {
    background-color: #202020;
    border: none;
    color: white;
    padding: 0.5em 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 4px;
}

ul#markdown-toc {
    background-color: #F0F0F0;
    padding: 10px;
}

ul#markdown-toc li {
    font-size: 0.8em;
    margin-left: 25px;
}

#search {
    margin-bottom: 25px;
}

table#tbl-index {
    font-size: 0.8em;
    border: 0;
}

table#tbl-index tr {
    border-bottom: 1px dashed #F0F0F0;
}

table#tbl-index tr td {
    background-color: #FFF;
    border: 0;
    padding: 0;
    padding-bottom: 5px;
}